@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Rowdies&family=Salsa&family=Sofia&display=swap');



.intro{
    font-size: 200%;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(134, 135, 82);
    text-align: center;
    padding: 1%;
    margin: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.homepage_into_main{
    margin: auto;
    width: 17%;
    padding: 1%;
    opacity: 0.2;
    align-items: center;
    justify-content: center;
    margin-left: 41.5%;
    margin-bottom: 10%;

    .text_in{
        font-family: 'Bigelow Rules', serif;
        font-family: 'Rowdies', sans-serif;
        font-family: 'Salsa', cursive;
        font-family: 'Sofia', cursive;
        font-family: 'Salsa', cursive;
        font-family: 'Sofia', cursive;
    }

    &:hover {
        background-color: black;
        color: white;
        border: none;
        opacity: 0.9;
  }
}

