.era-container{
    flex-direction: row;
    border: 5px goldenrod;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
}

.era-title{
    color: white;
    border: 100px goldenrod;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.era-brief{
    color: white;
    border: 100px goldenrod;
    margin: auto;
    text-align: center;
    padding: 100px;
}