@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');


.Logo{
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.navigation-bar{
    display: flex;
}

.eras-icon{
    font-family: 'Merriweather', serif;
    color:goldenrod;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: flex;
    margin-left: 60%;
}


