@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.emperor-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.emperor-name{
    font-family: 'Playfair Display', serif;
    padding: 2%;
    margin-top: 45%;
    text-align: center;
    color:whitesmoke;
    // -webkit-text-stroke-width: 0.00001px;
    // -webkit-text-stroke-color: rgb(110, 107, 107);

    font-size: 270%;

}

.emperor-reign{
    font-family: 'Playfair Display', serif;
    padding: 12%;
    text-align: center;
    color:whitesmoke;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;

    font-size: 210%;

}

.emperor-pic{
    width: 40vw;
    height: 80vh;
    object-fit: cover;
    margin-bottom: 5px;
    border: 4px solid black;
    display: flex;
    margin-left: 2%;
    margin-top: 1.5%;
}

.text-container{
    margin-left: 13%;
}