@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Rowdies&family=Salsa&display=swap');


body {
  margin: 0;
  font-family: 'Bigelow Rules', serif;
  font-family: 'Rowdies', sans-serif;
  font-family: 'Salsa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/SPQR.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body:before {
  margin: 0;
  font-family: 'Bigelow Rules', serif;
  font-family: 'Rowdies', sans-serif;
  font-family: 'Salsa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/SPQR.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('./assets/SPQR.jpg') center 0 no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
